/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 1, 2022, 5:58:27 AM
    Author     : jossa
*/

/*
content-box: toma en cuenta contenido, borde, padding para el calculo de la caja sumativa.
border-box: Modifica valores de contenido, para que coincida con nuestro ancho y alto


*/

.block {
    
    background-color: red;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid blue;
    box-sizing: border-box;
    margin: auto;
      
}